.container-login {
    padding-top: 200px;
    max-width: 400px;
    position: absolute;
    margin: auto;
    text-align: left;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50%;
}

.container-login img {
    width: 200px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
}