<nav class="navbar navbar-expand-lg  navbar-dark bg-primary" *ngIf="user != null">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">TrueIT - Colombia</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user}}
              </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" (click)="logout();">Cerrar Sesión</a>
                <a class="dropdown-item" href="#">Ver Info Perfil</a>
            </div>
        </div>
    </div>
</nav>

<form class="col s12" [formGroup]="form" *ngIf="user === null">
    <div class="container-login ">
        <img src="https://app.trushop.com.co/images/App.png">
        <div class="col-xs-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn icon-primary input-lg">
                        <i class="fas fa-user fa-2x"></i>
                    </span>
                </span>
                <input autocomplete="off" class="form-control input-lg funky-show-hide" placeholder="Nombre de Usuario" formControlName="username" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn icon-primary input-lg">
                        <i class="fas fa-key fa-2x"></i>
                    </span>
                </span>
                <input type="password" autocomplete="off" class="form-control input-lg funky-show-hide" placeholder="Contraseña" formControlName="password" />

            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="login()">
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
    </div>
</form>
<router-outlet>
</router-outlet>